.well.well-large
  %a.btn.btn-primary.btn-large.popup#face Facebook
  %a.btn.btn-info.btn-large{:href => "https://fetcher.xaviervia.com.ar:8005/auth/twitter"} Twitter




#myModal.modal.hide.fade
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3 Modal header
  .modal-body